.page {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}

.title {
  text-align: center;
  font-size: 34px;
  font-weight: 700;
  margin-bottom: 25px;
}

.title span {
  color: orange;
}

.card {
  padding: 28px;
  padding-right: 50px;
  background: #fff;
  border-radius: 14px;
  box-shadow: 0 4px 16px rgba(0,0,0,0.08);
}

.form {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

label {
  font-weight: 600;
}

input,
textarea {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 15px;
}

textarea {
  height: 110px;
  resize: none;
}

.errorInput {
  border-color: red !important;
}

.submitBtn {
  background: orange;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 8px;
}

.submitBtn:hover {
  opacity: 0.9;
}
