/* Push content below the navbar */
.employee-content {
  margin-top: 70px;         /* navbar height */
  margin-right: 300px;      /* sidebar width */
  padding: 20px;
  width: calc(100% - 300px);
  box-sizing: border-box;
}
