.page {
  padding: 1.5rem;
}

.title {
  font-size: 1.6rem;
  font-weight: 700;
}

.backBtn {
  background: none;
  border: none;
  color: #ff9800;
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}

.var(--color-primary)Bar {
  width: 100%;
  height: 4px;
  background: #ff8c42;
  margin: 0.8rem 0 1.5rem;
  border-radius: 4px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.card {
  background: var(--color-bg);
  padding: 1rem;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.08);
}

.row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.food {
  font-size: 1.2rem;
  font-weight: 600;
}

.status {
  padding: 0.2rem 0.6rem;
  border-radius: 6px;
  font-size: 0.85rem;
  font-weight: 600;
  text-transform: uppercase;
}

.green { background: #d6ffe0; color: #0a8a2a; }
.red { background: #ffe1e1; color: #b40000; }

.details {
  font-size: 0.9rem;
  color: #555;
  display: flex;
  justify-content: space-between;
}

.cancelBtn {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  background: #ff4d4d;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
  transition: 0.2s;
}

.cancelBtn:hover {
  background: #e60000;
}

.cancelBtn:disabled {
  background: #999;
  cursor: not-allowed;
}


.reviewBtn {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  background: #0000ff;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
  transition: 0.2s;
}

.reviewBtn:hover {
  background: #0000ff;
}

.reviewBtn:disabled {
  background: #999;
  cursor: not-allowed;
}
