@import "../../../assets/styles/variables.css";

/* NAVBAR MAIN */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  z-index: 1000;
  background: var(--color-bg);
  display: flex;
  align-items: center;
  justify-content: space-between;
}



/* LEFT — Logo + Title */
.left {
  display: flex;
  align-items: center;
  gap: 14px;
  padding: 2rem;
}

.logo {
  height: 40px;
}

.title {
  font-size: 1.5rem;
  font-weight: 600;
}

.title span {
  color: var(--color-primary);
}

/* CENTER — Location */
.center {
  position: relative;
}

.dropdown {
  position: absolute;
  top: 45px;
  left: 0;
  background: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 14px rgba(0,0,0,0.1);
  width: 160px;
  z-index: 50;
  padding: 6px 0;
}

.option {
  padding: 10px 14px;
  cursor: pointer;
  font-size: 14px;
}

.option:hover {
  background: var(--color-bg);
}

/* Make location clickable */
.location {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 6px;
}


/* DIVIDER */
.divider {
  width: 2px;
  height: 35px;
  background-color: var(--color-primary);
}

/* RIGHT — Links + Signout + Avatar */
.right {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 2rem;
}

.right a {
  color: black;
  text-decoration: none;
  font-weight: 600;
  transition: 0.2s ease;
}

.right a:hover {
  color: var(--color-primary);
}

.signout {
  background: none;
  border: none;
  color: var(--color-primary);
  font-weight: 600;
  cursor: pointer;
  font-size: 1rem;
}

/* Username + Avatar */
.username {
  font-weight: 600;
  color: #444;
}

.avatar {
  height: 38px;
  width: 38px;
  border-radius: 50%;
  overflow: hidden;
}

.avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.homeLink {
  text-decoration: none;
  color: inherit;
}

.homeLink:hover {
  text-decoration: none;
}
